*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
a{
 text-decoration: none;
 
}
body{
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 300px;
  text-align: center;
  margin: 60px auto;
}
img{
  margin-top: 63.7px;
  width: 100%;
}
img.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: #4263EB solid 4px;
  padding: 3.7px;
}
ul{
  list-style: none;
}
h1{
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 32px;
  color: #00082F;
}
p{
  margin-bottom: 48px;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  color: rgba(0, 8, 47, 0.8);
}
ul li a{
 width: 300px;
 background: #4263EB;
 border-radius: 6px;
 padding: 16px 80px;
 display: flex;
 justify-content: center;
 margin-bottom: 16px;
 text-transform: uppercase;
 color: white;
 font-size: 14px;
 transition: background 400ms;
}
 

ul li a:hover{
  background: #364FC7;
}
footer{
  font-size: 12px;
  margin-top: 48px;
  color: rgba(0, 8, 47, 0.6);
  font-weight: 500;
  opacity: 0.9;
  transition: opacity 200ms;
}
footer a{
  color: rgba(0, 8, 47, 0.6);
}
footer:hover{
  opacity:2;
}