*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
a{
 text-decoration: none;
 
}
body.dark-blue{
  background:  #00082F;
  --text-color: #EDF2FF;
  --text-list:#4263EB;
  --hover-color:#364FC7;
  --text-color-header:#EDF2FF;
  --fotter-color:#EDF2FF;
}
body.dark-pink{
  background:#1F000B;
  --text-color:#EDF2FF;
  --text-list:#D6336C;
  --hover-color:#A61E4D;
  --text-color-header:#EDF2FF;
  --fotter-color:#EDF2FF;
  
}
body.light-pink{
  background: #FFF0F6;
  --text-color:#1F000B;
  --text-list:#D6336C;;
  --hover-color:#A61E4D;
  --text-color-header:#1F000B;
  --fotter-color:#1F000B;
  
}
body.dark-yellow{
  background: #191816;
  --text-color:black;
  --text-list:#FFC632;
  --hover-color:#FCB632;
  --text-color-header:white;
  --fotter-color:#EDF2FF;
  
}
body{
  background:#EDF2FF;
  font-family: 'Roboto', sans-serif;
  --text-color:#00082F;
  --text-list: #4263EB;
  --hover-color:#364FC7;
}
.container{
  width: 300px;
  text-align: center;
  margin: 60px auto;
  color:var(--text-color);
}
img{
  margin-top: 63.7px;
  width: 100%;
}
img.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: var(--text-list) solid 4px;
  padding: 3.7px;
}
ul{
  list-style: none;
}
h1{
  color: var(--text-color-header);
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 32px;
 
}
p{
  color: var(--text-color-header);
  margin-bottom: 48px;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  
}
ul li a{
 width: 300px;
 background: var(--text-list);
 border-radius: 6px;
 padding: 16px 80px;
 display: flex;
 justify-content: center;
 margin-bottom: 16px;
 text-transform: uppercase;
 color: var(--text-color);
 font-size: 14px;
 transition: background 400ms;
}
 

ul li a:hover{
  background: var(--hover-color);
}
footer{
  font-size: 12px;
  margin-top: 48px;
  color: var(--fotter-color);
  font-weight: 500;
  opacity: 0.9;
  transition: opacity 200ms;
  color: var(--fotter-color);
}

footer:hover{
  opacity:2;
}